@charset "UTF-8";

/* Css Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Styles for the entire document */
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    background-color: rgb(240, 241, 241);
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
    color: black;
}

/* Styles for the header portion */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgb(240, 241, 241);
}
#header-img {
    max-width: 300px;
}
nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav li {
    margin: .3125rem 0;
}

/* Styles for intro section */
#intro {
    margin-top: 10rem;
}
.title {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Styles for the form */
.input {
    width: fit-content;
    margin: 1rem auto;
}
.email-input {
    width: 18rem;
    padding: .5rem;
}
.submit-input {
    background-color: #F1C40F;
    border: none;
    padding: .5rem;
    text-align: center;
    font-weight: 800;
    font-size: 1rem;
    width: fit-content;
}

/* Styles for the features paragraph */
#features {
    margin: 3rem 0 4rem;
    padding: 0 1rem;
}
.features {
    text-align: center;
    margin-bottom: 2rem;
}
.features-heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Styles for the embedded video */
.embed-video {
    display: block;
    width: 100vw;
    max-width: 35rem;
    margin: auto;
}

/* Styles for the products section */
#products {
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product {
    border: solid 1px black;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18.75rem;
}
.product-name {
    background-color: #DDD;
    padding: 16px 0;
    text-align: center;
    font-weight: 600;
    width: 100%;
}
.product-price, .product-text, .select-button {
    display: block;
}
.product-price {
    font-size : 1.5rem;
    margin: 1.25rem 0;
    font-weight: 600;
}
.product-text {
    padding: .3125rem 0;
    margin-bottom: .5rem;
}
.select-button {
    background-color: #F1C40F;
    border: none;
    height: 2.5rem;
    margin: 1.25rem 0;
    padding: 0 1.25rem;
    text-transform: uppercase;
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
}

/* Styles for the footer section */
footer {
    background-color: #DDD;
    margin-top: 2rem;
    padding: 1.25rem;
}
.footer-links {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}
.footer-link {
    margin-right: 1rem;
}
.copyright {
    color: #444;
    text-align: right;
}

/* Media queries */
@media (min-width: 37.5rem) {
    .features {
        text-align: left;
        margin: 0 2rem 2rem;
        width: fit-content;
    }
    #features {
        margin: 3rem auto 4rem;
        width: fit-content;
    }
}

@media (min-width: 50rem) {
    header {
        flex-direction: row;
    }
    #header-img {
        margin-right: auto;
    }
    nav ul {
        flex-direction: row;
        width: 35vw;
        justify-content: space-around;
    }

    #intro {
        margin-top: 5rem;
    }

    #products {
        flex-flow: wrap row;
        align-items: stretch;
        justify-content: space-around;
    }
}